body
   {
       background-color: thistle;


   }

h1
  {
      font-family: covered by your grace, Nanum Pen Script;

  }

h2
   {
     font-family: 'Kaushan Script', ;
   }

h3
{
   font-family: 'Kaushan Script', cursive;
}

h4
{
  font-family: 'Kaushan Script', cursive;
}


p
  {

  	  font-family: 'Kaushan Script', cursive;
  }